// =============================================================================
// VARIABLES
// =============================================================================

// VARS - LAYOUT
$containerWidth: 960px;
$padding: 40px;
$navHeight: 60px;

// COLOR - BASE PALETTE
$blue: #0097FC;
$teal: #00E5C5;
$yellow: #FAFC00;
$purple: #6600AD;

// COLOR - TEXT
$text-color: #858585;

//OVERRIDES