// =============================================================================
// VARIABLES
// =============================================================================

// VARS - LAYOUT
$containerWidth: 960px;
$padding: 40px;
$navHeight: 60px;

// COLOR - BASE PALETTE
$red: #912f24;
$gold: #d0b14e;

// COLOR - TEXT
$text-color: #333333;

//OVERRIDES